<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image" data-parallax="true" style="background-image: url(/images/bg13.jpg);">
		</div>
		<div class="content-center" style="font-style: italic;font-family: 'lucida';">
			<div class="container">
				<h1 class="title">EVENT BRINT</h1>
				<h2>Welcome <%= current_user.first_name %></h2>
				<h3>LES EVENEMENTS A VALIDER</h3>
			</div>
		</div>
	</div>

</div>

<div class="section section-tabs"  style="background-image: url(/images/bg3.jpg);">
<%= render "./admin/index" %>
	<div class="container">
		<div class="row">
			<% @event.each do |f| %>
			<div class="col-md-10 ml-auto col-xl-6 mr-auto">
				<div class="card ">
					<div class="card-header"> 
						<%if f.avatar.attached?%>
						<%= image_tag f.avatar, alt: 'avatar'%>

						<%else%>
						<p>=== Il n'y a pas encore d'avatar lié à cet evenement ===</p>
						<%end%>
						<br><h2><%= f.title %></h2>
					</div>
					<div class="card-body">
						<h4 class="card-title">Details:<%=  f.description%></h4>
						<p class="card-text">Price:<%= f.price %><br>Location:<%= f.location%></p>

						<p class="lead">
							<a class="btn btn-info btn-lg" href="/admin/event_submissions/<%= f.id%>"f." role="button">Plus..</a>
						</p>
					</div>

				</div>
			</div>
			<% end %>
        </div>
    </div>
</div>




