
  <%= render "./admin/nav" %>
  
   <% if flash[:notice].present? %>
 <div id="error_explanation">
        <p><%= flash[:notice] %></p>
      </div>
      <% end %>
   <%if @event.avatar.attached?%>
        <%= image_tag @event.avatar, alt: 'avatar' %>

   <%else%>
         <p>=== Il n'y a pas encore d'avatar lié à cet evenement ===</p>
   <%end%>
<h1 class="display-3"><%= @event.title %></h1>
      <p class="lead"><%=@event.description %></p>
     <hr class="my-4">
      <p>Price:<%= @event.price %><br>
     Location:<%= @event.location%><br>
     Administrator:<%=@event.user.last_name %>- <%= @event.user.first_name %><br>
     Start_date:<%= @event.start_date%><br>
     <hr> 
       <%= link_to "edit",edit_event_path,class: "btn btn-primary", style: "display: inline" %>
        <%= link_to "Delete",@event , method: "delete",class: "btn btn-primary", style: "display: inline",:data=>{:confirm => "Voulez vous vraiment effacer cet evenement"}%>
        <% if @event.validated?  == false || nil %>
         <%= link_to "valider",admin_event_submissions_valid_path , method: "patch",class: "btn btn-primary", style: "display: inline"%>
         <%  end %>
    <p class="lead"><br>
      <hr>
      <a class="btn btn-primary btn-lg" href="/" role="button">Back to list</a>
    </p>
 
