<body class="profile-page sidebar-collapse">

 <% if flash[:notice].present? %>
 <div id="error_explanation">
  <p><%= flash[:notice] %></p>
</div>
<% end %>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('../images/bg12.jpg');">
    </div>
    <%= render "./admin/index" %>
    <div class="container">
      <div class="photo-container">
        <%if @event.avatar.attached?%>
        <%= image_tag @event.avatar, alt: 'avatar' %>

        <%else%>
        <p>=== Il n'y a pas encore d'avatar lié à cet evenement ===</p>
        <%end%>
      </div>


      <h1 class="title"><%= @event.title %></h1>
      <p class="category"><%=@event.location %></p>
      <div class="content">
        <div class="social-description">
          <h2>Description</h2>
          <p><%= @event.description%></p>
          <h3>Price:<%= @event.price %></h3>
          <h3>Administrateur:<%=@event.user.last_name %>- <%= @event.user.first_name %></h3>
          <h3>Start_date:<%= @event.start_date%></h3>
        </div>
      </div>
      <%= link_to "edit",edit_event_path,class: "btn btn-primary", style: "display: inline" %>
      <%= link_to "Delete",@event , method: "delete",class: "btn btn-primary", style: "display: inline",:data=>{:confirm => "Voulez vous vraiment effacer cet evenement"}%>
      <% if @event.validated?  == false || nil %>
      <%= link_to "valider",admin_event_submissions_valid_path , method: "patch",class: "btn btn-primary", style: "display: inline"%>
      <%  end %>
      <p class="lead"><br>
        <hr>
        <a class="btn btn-primary btn-lg" href="/" role="button">Back to list</a>
      </p>
    </div>
  </div> 
</div>
</body>