<div class="page-header clear-filter" filter-color="orange">
  <div class="page-header-image" style="background-image:url(../images/bg8.jpg);"></div>
  <div class="content">
    <div class="container">
      <div class="col-md-4 ml-auto mr-auto">
        <div class="card card-login card-plain">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

         <div class="card-header text-center">
           <h3>SIGN_up</h3>
         </div>
         <div class="input-group no-border input-lg">

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="input-group no-border input-lg">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>'form-control',:placeholder=>'Email' %>
          </div>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          
          <div class="input-group no-border input-lg">
            <%= f.password_field :password, autocomplete: "new-password",:class=>'form-control',:placeholder=>'password' %>
          </div>
        </div>
      </div>

      <div class="input-group no-border input-lg">
       <div class="input-group no-border input-lg">
        <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>'form-control',:placeholder=>'Confirm password' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Sign up",:class=>'btn btn-primary btn-round btn-lg btn-block' %>
    </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
