 <br> <br> <br>
 <div class=container>
    <%= form_tag url_for(action: 'update'), method: "patch", multipart: true do %>

      <h3><%= label_tag 'last_name' %></h3>
      <%= text_field_tag 'last_name' %>
      <br /> <br />

      <h3><%= label_tag 'first_name'%></h3>
      <%= text_field_tag 'first_name' %>
      <br /> <br />

      <h3><%= label_tag 'Description'%></h3>
      <%= text_field_tag 'description'%>
      <br /> <br />

       <h3><%= label_tag 'email'%></h3>
      <%= text_field_tag 'email' %>
      <br />
      <small> plese enter your email </small>
      <br /> 
      <h3><%= label_tag 'avatar'%></h3>
        <%= file_field_tag :avatar %>
      <%= submit_tag "Edit " %>

    <% end %>

    <br />
    <a href="/">Back to list of gossip</a></div>