
<%if @user.avatar.attached?%>

  <%= image_tag @user.avatar, alt: 'avatar'%>

<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>
<br>
Nom:  <%= @user.last_name%><br>
Prenom:   <%= @user.first_name%><br>
Description:   <%= @user.description%><br>
Email:   <%= @user.email%><br>
 <%= link_to "Delete",admin_user_path(@user.id), method: "delete",class: "btn btn-primary", style: "display: inline",:data=>{:confirm => "Voulez vous vraiment effacer cet utilisateur"}%>

   